<h1>Patients</h1>

<div class="patients_list">
  <ul>
    <%@patients.each do |patient|%>
      <li>Name: <%=patient.name%> Number of Appointments: <%=patient.appointments.count%></li>
    <%end%>
  </ul>

</div>
